*__pycache__
*.DS_Store
runs
distance_prediction
features
wandb
images
graphs
*obj_names_features.txt
*place_names_features.txt
*.npy
*.yml
*checkpoints
*.ckpt
*logs
rgb.mp4
depth.mp4
ros2_vlmaps_interfaces/build
ros2_vlmaps_interfaces/install
ros2_vlmaps_interfaces/log
application/outputs
outputs
.vscode/
visual_language_navigation/fcclip/fcclip/modeling/pixel_decoder/ops/build
*dist
*.pth
*.egg-info
*.svg
*.png
*.h5df
/build
/install
/log
